body {
  background-color: lightgrey;
  margin: 0px;
  padding: 0px;
}
/* Heading CSS Properties  

 Removes underline on anchor elements */
#rmv-decor {
  color: white;
  text-decoration: none;
}

/* Seperates content in head to opposite sides */
#head-content {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

/* For text "Timer" */
span {
  font-size: 1.5rem;
  font-weight: 400;
}
/* --------------------------- 

    Container Properties */
.container {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

/* Card properties */
.box {
  width: 50%;
  background-color: white;
  border: 3px solid white;
  border-radius: 0.5rem;
  padding: 20px;
}
/* Display answer buttons as grid layout */
.btn-grid {
  display: grid;
}
/* Display start and next button as flex */
.start-next {
  display: flex;
  justify-content: space-around;
}

#start-btn,
#next-btn {
  padding: 10px 40px;
  box-shadow: 0 0 10px 2px;
}

.hide {
  display: none;
}

h3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  
}

.correct {
  border-color: blue;
}
.wrong {
  border-color: red;
}

